<!--
  Generated template for the BusinessProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-grid>
    <ion-row class="business-picture-row">
      <ion-col col-12>
        <div class="image-wrapper">
          <img class="profile-pic" [src]="partner.picture1" *ngIf="partner.picture1" />
          <ion-navbar hideBackButton>
          <!-- TODO 
            Uncomment once android positioning is fixed. Aligns left on ios and browser, but aligns right on Android.
            
            <ion-buttons start>
              <button tappable ion-button icon-only navPop>
                <img class="svg-icon" src="assets/icon/arrow-white-left.svg"/>
              </button>
            </ion-buttons>
            -->
<!--
            <ion-buttons end>
              <button tappable ion-button icon-only class="share-btn">
                <img class="svg-icon" src="assets/icon/share-white.svg"/>
              </button>
              <button tappable ion-button icon-only>
                <img class="svg-icon" src="assets/icon/favorite-white.svg"/>
              </button>
            </ion-buttons>
-->
          </ion-navbar>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="business-info">
      <ion-col class="heading" col-12>
        <div class="bold-text">
          {{ partner.text }}
        </div>
        <!--
        <div class="rating">
          <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
          <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
          <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
          <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
          <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
        </div>
        -->
      </ion-col>
      <ion-col col-12>
        {{ partner.category.text }}
      </ion-col>
    </ion-row>

    <ion-row class="business-about-us">
      <ion-col class="heading" col-12>
        <div class="bold-text">
          About Us
        </div>
        <div class="showmore"><a>Show more</a></div>
      </ion-col>
      <ion-col col-12>
        {{partner.description}}
      </ion-col>
    </ion-row>


    <ion-row class="business-what-is-new">
      <ion-col class="heading" col-12>
        <div class="bold-text">
          What's new <!-- TODO (12) Instead of 12, this should show total active notifications. -->
        </div>
        <div class="showmore"><a>Show more</a></div>
      </ion-col>
      <ion-col col-12>

        <ion-card *ngFor="let notification of notifications">
          <ion-card-content>
            <ion-grid>
              <ion-row class="image-row">
                <ion-col>
                  <div class="image"><img [src]="notification.picture"></div>
                </ion-col>
              </ion-row>
              <ion-row class="content-row">
                <ion-col col-12>
                  <div class="bold-text">{{ notification.category | uppercase }}: {{ notification.title }}</div>
                  <!--
                  <div>
                    <button tappable class="no-background-button" ion-button icon-only><img class="svg-icon" src="assets/icon/favorite-red.svg"/></button>
                    <button tappable class="no-background-button" ion-button icon-only><img class="svg-icon" src="assets/icon/share-red.svg"/></button>
                  </div>
                  -->
                </ion-col>
                <ion-col col-12>
                  Ending on {{ notification.end | date :  "M/d/yyyy" }} at {{ notification.end | date : "h:mm a" }}
                </ion-col>
                <ion-col col-12>
                  {{ notification.description }}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row class="business-reviews" *ngIf="false">
      <ion-col class="heading" col-12>
        <div class="bold-text">
          Reviews
        </div>
        <div class="showmore"><a>Show more</a></div>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <img class="reviewer-photo" src="assets/img/elon-musk.jpeg"/>
          <div class="review-content">
            <div class="review-heading">
              <div class="reviewer-name">
                Reggie Miller
              </div>
              <div class="review-rating">
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
              </div>
              <div class="reviewer-like">
                <ion-icon name="ios-thumbs-up-outline"></ion-icon>9
              </div>
            </div>
            <div class="review-text">ABCD</div>
          </div>
        </ion-item>

        <ion-item>
          <img class="reviewer-photo" src="assets/img/elon-musk.jpeg"/>
          <div class="review-content">
            <div class="review-heading">
              <div class="reviewer-name">
                Reggie Miller
              </div>
              <div class="review-rating">
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
                <img class="svg-icon" src="assets/icon/rating-star-inactive.svg"/>
              </div>
              <div class="reviewer-like">
                <ion-icon name="ios-thumbs-up-outline"></ion-icon>9
              </div>
            </div>
            <div class="review-text">ABCD</div>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row class="business-pictures">
      <ion-col class="heading" col-12>
        <div class="bold-text">
          Pictures
        </div>
        <div class="showmore"><a>Show more</a></div>
      </ion-col>
      <ion-col *ngIf="partner.picture1" class="business-picture" col-6>
        <img [src]="partner.picture1"/>
      </ion-col>
      <ion-col *ngIf="partner.picture2" class="business-picture" col-6>
        <img [src]="partner.picture2"/>
      </ion-col>
      <ion-col *ngIf="partner.picture3" class="business-picture" col-6>
        <img [src]="partner.picture3"/>
      </ion-col>
      <ion-col *ngIf="partner.picture4" class="business-picture" col-6>
        <img [src]="partner.picture4"/>
      </ion-col>
    </ion-row>

    <ion-row class="business-videos" *ngIf="false">
      <ion-col class="heading" col-12>
        <div class="bold-text">
          Videos
        </div>
        <div class="showmore"><a>Show more</a></div>
      </ion-col>
      <ion-col class="business-video" col-6>
        <img src="assets/img/home-buyandwin.png"/>
      </ion-col>
      <ion-col class="business-video" col-6>
        <img src="assets/img/home-buyandwin.png"/>
      </ion-col>
    </ion-row>

    <ion-row class="business-keep-in-touch">
      <ion-col class="heading" col-12>
        <div class="bold-text">
          Keep in Touch
        </div>
        <div class="showmore"><a>Show more</a></div>
      </ion-col>
      <ion-col col-12>
        Phone Number: <span class='red'><a href='tel://{{partner.phone}}'>({{partner.phone | slice:0:3 }}) {{partner.phone | slice:3:6 }}-{{partner.phone | slice:6:10 }}</a></span>
      </ion-col>
      <ion-col col-12>
        Email: <span class='red'><a href='mailto://{{partner.email}}'>{{partner.email}}</a></span>
      </ion-col>
      <ion-col col-12>
        Address: <span class='red'>
          <a href="http://maps.google.com/?q={{partner.address1}},{{partner.city}},{{partner.state.abbr}} {{partner.zip}}">
            <br>{{ partner.address1 }} 
            <br>{{ partner.city }}, {{ partner.state.abbr }} {{ partner.zip }}
            <br><!-- {{ partner.country.english_text }} -->
          </a></span>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
 