<!--
  Generated template for the LoginForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-grid class="wrapper">
    <ion-row class="slide-row">
      <ion-col>
        <ion-slides #forgetSlider>
          <ion-slide class="reset-code-slide">
            <form *ngIf="resetCodeForm" [formGroup]="resetCodeForm">
              <ion-grid>
                <ion-row text-left>
                  <ion-col>
                    <div class="header">No problem {{this.firstname}}!</div>
                  </ion-col>
                </ion-row>
                <ion-row text-left>
                  <ion-col class="content">
                    Soon you will receive an SMS from Vinna with a Reset Code to change your Password. Please enter your Reset Code below.
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 text-center>
                    <ion-input type="number" placeholder="0000" formControlName="reset_code"></ion-input>
                  </ion-col>
                  <ion-col col-12>
                    <button tappable ion-button class="no-background-button" (click)="resendCode()">Re Send Code</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-slide>

          <ion-slide class="password-slide">
            <form *ngIf="passwordForm" [formGroup]="passwordForm">
              <ion-grid>
                <ion-row text-left>
                  <ion-col col-12>
                    Almost done, choose a new Password
                  </ion-col>
                  <ion-col col-12>
                    <ion-input type="password" placeholder="Enter your Password" formControlName="password" clearInput></ion-input>
                  </ion-col>
                  <ion-col col-12>
                    <ion-input type="password" placeholder="Re enter your Password" formControlName="password_confirm" clearInput></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col class="flex-content-between" col-12>
        <button tappable ion-button class="vinna-button red-background-button" (click)="prevSlide()">Previous</button>
        <button tappable ion-button class="vinna-button red-background-button" (click)="nextSlide()">Next</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
