page-login {
  .grid.wrapper {
    background: map-get($colors, vinnawhite);;
    font-size: 15px;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row {
      .col {
        padding: 0;
      }

      &.button-row {
        padding: 0 10px 10px 10px;
      }

      &.phone-row {
        padding: 90px 5vw 0 5vw;

        .col {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          div.group {
            margin-top: 18px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px !important;

            input {
              margin-left: 2vw;
              width: 100%;
              border: 0px;
              border-bottom: 1px solid map-get($colors, vinnamidgrey);
            }

            img {
              height: 7vw;
              margin-right: 2vw;
            }
          }
        }
      }
    }
  }
}
