ion-backdrop {
  z-index: 0 !important;
  visibility: visible !important;
}

page-login-password-change-success {
  .content {
    left: 4vw;
    top: 17vh;
    width: 92vw;
    height: 66vh;
    z-index: 2;
  }

  .grid {
    padding: 5.5vh 5vw;

    .lock-image-row {
      .col {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 20vh;
        }
      }
    }

    .content-row {
      .col {
        padding: 2vh 0;
        line-height: 2;
        font-size: 5vw;
      }
    }

    .button-row {
    }
  }
}
