page-forget-password {
  .grid.wrapper {
    padding: 5vh 3vw 0 3vw;
    font-size: 15px;

    button {
      min-width: 30vw;
    }

    .reset-code-slide {
      width: 100% !important;
      align-items: flex-start;

      .grid {
        padding: 0;
      }

      .content {
        font-size: 16px;
        color: map-get($colors, vinnamidgrey);
        line-height: 1.5;
      }

      .input {
        border-bottom: 1px solid map-get($colors, vinnamidgrey);
        margin: 2vh 0;
        font-size: 2vh;
        width: 30vw;
        text-align: center;
        display: inline-block;

        .text-input {
          margin: 11px 0px;
          width: 100%;
          padding-right: 0;
          text-align: center;
          letter-spacing: 5px;
          font-size: 26px;
        }

        .text-input-clear-icon {
          display: block;
          right: 3px;
          min-width: 5vw;
        }
      }
    }

    .password-slide {
      width: 100% !important;
      align-items: flex-start;

      .grid {
        padding: 0;
      }

      .input {
        border-bottom: 1px solid map-get($colors, vinnamidgrey);
        margin: 2vh 0;
        font-size: 2vh;

        .text-input {
          margin: 11px 0px;
          width: 100%;
          padding-right: 0;
        }

        .text-input-clear-icon {
          display: block;
          right: 3px;
          min-width: 5vw;
        }
      }
    }
  }
}
