page-tabs {
  .tabbar {
    padding: 5px 5px;

    .tab-button-icon {
      margin-top: 0px;
      margin-bottom: 0px;
      
      &[ng-reflect-is-active=true] {
        color: map-get($colors, vinnared) !important;
      }
    }
  }
}