page-home{
  .grid.wrapper {
    height: 100%;
    background: url('../assets/BG.jpg');
    background-size: cover;
    padding: 0;
    margin: 0;

    .row {
      &.logo-row {        
        text-align: right;

        img {
          height:10.5vw;
          margin:2.5vw;
        }
      }

      .name {
        white-space: nowrap;
        font-weight: 600;
        color: #fff;

        position: relative;
        font-size: 10vw;
        font-family: 'Helvetica LT Condensed Bold';
        bottom:-1vw;
      }

      .more_back {
        color: #fff;
        font-size:8vw;
        position: relative;
        bottom:-3.5vw;
        
        .icon {
          color: #fff;
        }

      }

      .learn_more {
        text-decoration: underline;
        color: white;
        font-size:1.9vh;
        line-height: 3vh;
        white-space: nowrap;
      }

      &.slide-row {
        height: 72vh;
        padding: 8vw 10px;

        .slide-zoom {
          height: 100%;
        }


        .name {
          /*text-transform: uppercase;*/
        }

        .more_back {

        }

        .group {  
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          border-bottom: 1px solid map-get($colors, vinnawhite);
          width: 100%;

          .name {
            position: relative;
          }

          .more_back {
          }
        }        

        .home-grid {
          height: 77%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .col {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          }

          .group {  
            text-align: left;

            .name {
              left:0;
            }

            .more_back {
              right:0;
            }
          }        
        }

        .info-grid {
          height: 70%;
          font-size:2.5vh;

          .group {
            text-align: right;

            .name {
            }

            .more_back {
              .icon {
                position:relative;
                left:-1px;
              }
            }          

          }

          .row {
            &.message-row {
              .col{
                text-align: center;
                font-family: 'Helvetica LT Condensed Light';
                font-size:3vh;
                color: map-get($colors, vinnawhite);
                margin-top: 10px;
                line-height: 7vh;
              }
            }
          }
        }
      }

      &.phone-row {

        .col {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 0;

          div.bottom {
            height:9vh;
            background-color: black;
          }

          div.wrap {
            height:15vh;
            padding: 0.5vh 15px;
            background: map-get($colors, vinnawhite);
            width:100%;

            div.message {
              height:9vw;
              font-family: 'Open Sans Light';
              font-size:4.3vw;
              color: map-get($colors, vinnamiddarkgrey);
              margin-top:1vw;

            }

            div.input {
              border-top:1px solid map-get($colors, vinnamidgrey);
              padding-top:3vw;


              display: flex;
              justify-content: flex-start;
              align-items: center;

              font-size:4vw;

              input {
                /* padding-top:.5vh; */
                margin-left: 10px;
                width: 100%;
                border: none;
              }

              img {
                height: 9vw;
                margin-right: 2vw;
              }
            }
          }

        }
      }
    }
  }
}
