page-complete-member-account {
  .grid {
    padding: 18px 20px 0 20px;

    .input {
      border: 1px solid map-get($colors, vinnamidgrey);
      margin-bottom: 10px;

      input.text-input {
        margin: 8px;
        width: calc(100% - 16px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .row {
      &.section-title {
        .col {
          font-weight: bold;
        }
      }
    }

    .col {

      .select {
        max-width: none;
        border: 1px solid map-get($colors, vinnamidgrey);
        padding: 8px;
        width: 100%;
      }

      .list {
        margin: 0;

        .item {
          margin: 0 0 3px 0;
          padding: 0px;
          font-size: inherit;
          border-width: 0;

          .item-inner {
            padding-right: 0;
            border-bottom: 0;
          }
        }
      }
    }
  }

  
}
