<!--
  Generated template for the AccountRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <ion-col>
        <ion-slides #memberRegistration>

          <ion-slide>
            <form *ngIf="emailForm" [formGroup]="emailForm">
              <ion-grid>
                <ion-row text-left>
                  <ion-col col-12>
                    <div class="header">Enter your Email</div>
                  </ion-col>
                  <ion-col col-12>
                    <ion-input type="email" placeholder="name@example.com" formControlName="email" clearInput></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-slide>

          <ion-slide>
            <form *ngIf="nameForm" [formGroup]="nameForm">
              <ion-grid ion-fixed>
                <ion-row text-left>
                  <ion-col col-12>
                    <div class="header">Create your Account</div>
                  </ion-col>
                  <ion-col col-12>
                    <ion-input type="text" placeholder="First Name" formControlName="first_name" clearInput></ion-input>
                  </ion-col>
                  <ion-col col-12>
                    <ion-input type="text" placeholder="Last Name" formControlName="last_name" clearInput></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>

          </ion-slide>


          <ion-slide>
            <form *ngIf="passwordForm" [formGroup]="passwordForm">
              <ion-grid>
                <ion-row text-left>
                  <ion-col col-12>
                    <div class="header">Create Password</div>
                  </ion-col>
                  <ion-col col-12>
                    <ion-input type="password" placeholder="Enter your Password" formControlName="password" clearInput></ion-input>
                  </ion-col>
                  <ion-col col-12>
                    <ion-input type="password" placeholder="Re enter your Password" formControlName="password_confirm" clearInput></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-slide>

          <ion-slide>
            <form *ngIf="bioForm" [formGroup]="bioForm">
              <ion-grid>
                <ion-row text-left>
                  <ion-col col-12>
                    <div class="header">Date of Birth</div>
                  </ion-col>
                  <ion-col class="flex-content-around" col-12>
                    <ion-datetime placeholder="Date of Birth" displayFormat="MMM D, YYYY" pickerFormat="YYYY-MM-DD" formControlName="dob" [max]="maxDate"></ion-datetime>
                  </ion-col>
                </ion-row>

                <ion-row text-left>
                  <ion-col col-12>
                    <div class="header">Gender</div>
                  </ion-col>
                  <ion-col col-12>
                    <ion-list radio-group formControlName="gender">
                      <ion-item>
                        <ion-label>Male</ion-label>
                        <ion-radio value="M"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>Female</ion-label>
                        <ion-radio value="F"></ion-radio>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-slide>

          <ion-slide>
            <form *ngIf="photoForm" [formGroup]="photoForm">
              <ion-grid>
                <ion-row text-left>
                  <ion-col col-12>
                    <div class="header">Select your Profile Picture</div>
                  </ion-col>
                  <ion-col text-center>
                    <div tappable class="profile-image-wrapper" (click)="openSourceTypeSheet()">
                      <div class="profile-image-placeholder" *ngIf="!this.photoForm.controls.profile_photo.value" >
                          Upload Picture
                      </div>
                      <img class="profile-image" [src]="this.photoForm.controls.profile_photo.value" *ngIf="this.photoForm.controls.profile_photo.value"/>
                    </div>
                  </ion-col>
                  <ion-col class="message" col-12 text-center>
                    We recommend you to use a clear image of your face. 
                    Please have in mind that your Profile Picture is your ID on Vinna and Business Partners will use it to identify you on every transaction
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="nav-buttons">
      <ion-col class="flex-content-between" col-12>
        <button tappable ion-button class="red-background-button" (click)="prevSlide()">Previous</button>
        <button tappable ion-button class="red-background-button" (click)="nextSlide()">Next</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>