page-create-partner-account-2 {
  .grid {
    padding: 18px 20px 0px 20px;

    .col {
      &.text {
        div {
          color: map-get($colors, vinnadarkgrey);
          line-height: 22px;

          &:last-child {
            margin-top: 20px;
          }
        }

        span {
          color: map-get($colors, vinnared);
        }

      }
    }

    .input {
      border: 1px solid map-get($colors, vinnamidgrey);
      margin-bottom: 8px;

      .text-input {
        margin: 8px;
        width: calc(100% - 16px);
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .card {
      margin-top: 25px;
    }
    
    .next-button {
      width: 100%;
    }

    .segment {
      margin-top: 10px;

      .segment-button {
        border-radius: 0px;
        color: map-get($colors, vinnadarkgrey);
        border-width: 0px 0px 1px 0px;
        border-color: map-get($colors, vinnamidgrey);
        border-style: solid;
        padding: 8px 0;
        height: auto;

        &.segment-activated {
          background: none;
          color: map-get($colors, vinnared);
          position: relative;

          &:after {
            content: ' ';
            width: 0; 
            height: 0;
            z-index: 10; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid map-get($colors, vinnared);
            position: absolute;
            left: calc(50% - 5px);
            bottom: 0;
          }
        }
      }
    }

    .switch-content {
      margin-top: 20px;
    }
  }
}
